header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

header button {
  background: white;
  width: 8%;
  height: 40%;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  margin: 0px 2%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}